{% extends 'Base.html' %}   <!-- to put every block in its position in the base html -->

{% block title %}Sign up{% endblock %}  <!-- tap title -->

{% block body %}
    <div class="title"><h1>Governmental complaint site</h1></div>
    <div class="container">
        <div class='formGroup'>
            <div class="head"><h5>&nbsp&nbspSign up</h5></div>
            <form method="post" novalidate>
                {% csrf_token %}    <!-- security token -->
                {% include 'form.html' %}   <!-- add code in form.html -->
                <button type="submit" href="{% url 'userHome' %}" class="btn btn-primary">Create an account</button>    <!-- button for sign up to make post request -->
            </form>
            <div class="card-footer text-muted text-center">
                Already have an account? <a href="SignIn/">Sign in</a>  <!-- footer contain sign in link -->
            </div>
        </div>
    </div>
{% endblock %}